* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  background-color: dodgerblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  color: #fff;
  border-radius: 15px;
  width: 60%;
  max-width: 420px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a {
  color: #fff;
}

input[type="password"],
.signIn,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
.signIn {
  margin-top: 1rem;
}

.signIn {
  padding: 0.45rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  background-color: lightpink;
  border-radius: 10px;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
